In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# import de fichier csv après scrapping FBref

## standard

In [79]:
#import csv league qui contient tous les information provenant de FBref standard et cleaning du header
leagues = pd.read_csv("/content/drive/MyDrive/footdata/leagues.csv", header=1)
leagues = leagues.rename(columns={'Unnamed: 0': 'Team', 'Unnamed: 1': 'Player', 'Unnamed: 2': 'Nation', 'Unnamed: 3': 'Position', 'Unnamed: 4': 'Age', 'Unnamed: 5': 'Born', 'Unnamed: 35': 'League', 'Unnamed: 36': 'Saison'})
leagues

,Team,Player,Nation,Position,Age,Born,MP,Starts,Min,90s,...,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,League,Saison
0,Alavés,Adrián Diéguez,ESP,DF,21.0,1996.0,6,6,435,4.8,...,0.00,0.00,0.00,0.02,0.00,0.02,0.02,0.02,La Liga,2017-2018
1,Alavés,Aleksandar Katai,SRB,"MF,DF",26.0,1991.0,3,0,55,0.6,...,0.00,0.00,0.00,0.12,0.00,0.12,0.12,0.12,La Liga,2017-2018
2,Alavés,Alexis,ESP,DF,31.0,1985.0,28,25,2184,24.3,...,0.04,0.04,0.04,0.05,0.01,0.06,0.05,0.06,La Liga,2017-2018
3,Alavés,Alfonso Pedraza,ESP,"MF,DF",21.0,1996.0,33,27,2440,27.1,...,0.30,0.11,0.30,0.10,0.14,0.25,0.10,0.25,La Liga,2017-2018
4,Alavés,Antonio Sivera,ESP,GK,20.0,1996.0,1,1,62,0.7,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,La Liga,2017-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,Venezia,Sergio Romero,ARG,GK,34.0,1987.0,16,16,1440,16.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Serie A,2021-2022
10975,Venezia,Sofian Kiyine,MAR,"MF,FW",23.0,1997.0,26,14,1239,13.8,...,0.07,0.07,0.07,0.11,0.15,0.26,0.04,0.19,Serie A,2021-2022
10976,Venezia,Tanner Tessmann,USA,MF,19.0,2001.0,20,6,680,7.6,...,0.00,0.00,0.00,0.09,0.02,0.10,0.09,0.10,Serie A,2021-2022
10977,Venezia,Thomas Henry,FRA,FW,26.0,1994.0,33,23,2115,23.5,...,0.47,0.38,0.47,0.29,0.16,0.45,0.29,0.45,Serie A,2021-2022
10978,Venezia,Tyronne Ebuehi,NGA,DF,25.0,1995.0,19,12,1138,12.6,...,0.00,0.00,0.00,0.05,0.03,0.08,0.05,0.08,Serie A,2021-2022

In [80]:
leagues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Team        10979 non-null  object
 1   Player      10979 non-null  object
 2   Nation      10978 non-null  object
 3   Position    10977 non-null  object
 4   Age         10978 non-null  float64
 5   Born        10978 non-null  float64
 6   MP          10979 non-null  int64
 7   Starts      10979 non-null  int64
 8   Min         10979 non-null  int64
 9   90s         10979 non-null  float64
 10  Gls         10979 non-null  int64
 11  Ast         10979 non-null  int64
 12  G+A         10979 non-null  int64
 13  G-PK        10979 non-null  int64
 14  PK          10979 non-null  int64
 15  PKatt       10979 non-null  int64
 16  CrdY        10979 non-null  int64
 17  CrdR        10979 non-null  int64
 18  xG          10968 non-null  float64
 19  npxG        10968 non-null  float64
 20  xAG         10968 non-null  float64
 21  npxG+xAG    10968 non-null  float64
 22  PrgC        10968 non-null  float64
 23  PrgP        10968 non-null  float64
 24  PrgR        10968 non-null  float64
 25  Gls.1       10979 non-null  float64
 26  Ast.1       10979 non-null  float64
 27  G+A.1       10979 non-null  float64
 28  G-PK.1      10979 non-null  float64
 29  G+A-PK      10979 non-null  float64
 30  xG.1        10967 non-null  float64
 31  xAG.1       10967 non-null  float64
 32  xG+xAG      10967 non-null  float64
 33  npxG.1      10967 non-null  float64
 34  npxG+xAG.1  10967 non-null  float64
 35  League      10979 non-null  object
 36  Saison      10979 non-null  object
dtypes: float64(20), int64(11), object(6)
memory usage: 3.1+ MB

In [81]:
leagues.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca.csv")

## passing

In [61]:
passing = pd.read_csv("/content/drive/MyDrive/footdata/passing.csv", header=1)
# Liste des nouveaux noms de colonnes
new_column_names = ['Team','Player', 'Nation', 'Pos', 'Age', 'Born', '90s', 'Cmp', 'Att', 'Cmp%', 'TotDist', 'PrgDist',
                	'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3', 'Att.3', 'Cmp%.3',
                	'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP','League','Saison']

# Renommer les colonnes
passing.columns = new_column_names
passing
passing.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_passing.csv", index=False)

## shooting

In [75]:
shooting = pd.read_csv("/content/drive/MyDrive/footdata/shooting.csv", header=1)
new_column_names = ['Team', 'Player', 'Nationnalite', 'Position', 'Age', 'Born', '90s', 'Gls', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG','League','Saison']
# Renommer les colonnes
shooting.columns = new_column_names
shooting.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_shooting.csv", index=False)

## Keeper

In [57]:
keeper = pd.read_csv("/content/drive/MyDrive/footdata/keeper.csv",header=1)
keeper = keeper.drop(0, axis=0)
keeper = keeper.rename(columns={'Unnamed: 0': 'Team', 'Unnamed: 1': 'Player', 'Unnamed: 2': 'Nation', 'Unnamed: 3': 'Position', 'Unnamed: 4': 'Age', 'Unnamed: 5': 'Born', 'Unnamed: 25': 'League', 'Unnamed: 26': 'Saison'})
keeper.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_keeper.csv", index=False)

## defense

In [82]:
defense = pd.read_csv("/content/drive/MyDrive/footdata/defense.csv", header=1)
new_column_names = ['Team', 'Player', 'Nation', 'Pos', 'Age', 'Born', '90s', 'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd','Tkl', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'League', 'Saison']
# Renommer les colonnes
defense.columns = new_column_names
defense.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_defense.csv", index=False)

# Pre processing

## CLeaningheader and droping irrelevant columns

In [19]:
#import FBREF_dataset_conca new header
FBREF_dataset_conca = pd.read_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca.csv")
FBREF_dataset_conca
FBREF_dataset_conca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10979 non-null  int64
 1   Team        10979 non-null  object
 2   Player      10979 non-null  object
 3   Nation      10978 non-null  object
 4   Position    10977 non-null  object
 5   Age         10978 non-null  float64
 6   Born        10978 non-null  float64
 7   MP          10979 non-null  int64
 8   Starts      10979 non-null  int64
 9   Min         10979 non-null  int64
 10  90s         10979 non-null  float64
 11  Gls         10979 non-null  int64
 12  Ast         10979 non-null  int64
 13  G+A         10979 non-null  int64
 14  G-PK        10979 non-null  int64
 15  PK          10979 non-null  int64
 16  PKatt       10979 non-null  int64
 17  CrdY        10979 non-null  int64
 18  CrdR        10979 non-null  int64
 19  xG          10968 non-null  float64
 20  npxG        10968 non-null  float64
 21  xAG         10968 non-null  float64
 22  npxG+xAG    10968 non-null  float64
 23  PrgC        10968 non-null  float64
 24  PrgP        10968 non-null  float64
 25  PrgR        10968 non-null  float64
 26  Gls.1       10979 non-null  float64
 27  Ast.1       10979 non-null  float64
 28  G+A.1       10979 non-null  float64
 29  G-PK.1      10979 non-null  float64
 30  G+A-PK      10979 non-null  float64
 31  xG.1        10967 non-null  float64
 32  xAG.1       10967 non-null  float64
 33  xG+xAG      10967 non-null  float64
 34  npxG.1      10967 non-null  float64
 35  npxG+xAG.1  10967 non-null  float64
 36  League      10979 non-null  object
 37  Saison      10979 non-null  object
dtypes: float64(20), int64(12), object(6)
memory usage: 3.2+ MB

In [20]:
FBREF_dataset_conca['Position'].unique()

array(['DF', 'MF,DF', 'GK', 'FW,MF', 'MF,FW', 'FW', 'MF', 'DF,FW',
       'DF,MF', 'FW,DF', nan], dtype=object)

In [21]:
FBREF_dataset_conca['Position'].isna().sum()

2

In [22]:
#on supprime les deux joueurs sans position
FBREF_dataset_conca = FBREF_dataset_conca.dropna(subset=['Position'])

In [23]:
FBREF_dataset_conca.shape[0]

10977

In [24]:
#cleaning des descriptif de position
FBREF_dataset_conca['Position'].replace(['MF'], 'Midfielder', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['FW'], 'Forward', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['DF'], 'Defender', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['GK'], 'Goalkeeper', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['MF,FW'], 'Midfielder, Forward', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['MF,DF'], 'Midfielder, Defender', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['DF,FW'], 'Defender, Forward', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['DF,MF'], 'Defender, Midfielder', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['FW,DF'], 'Forward, Defender', regex=False, inplace=True)
FBREF_dataset_conca['Position'].replace(['FW,MF'], 'Forward, Midfielder', regex=False, inplace=True)

In [25]:
#on supprime le column avec des information non relevant pour notre appli 
FBREF_dataset_conca_standard = FBREF_dataset_conca.drop(columns=['Min','xG','npxG+xAG','G+A.1','G-PK.1','G+A-PK','xG.1','xG+xAG','npxG+xAG.1'])

In [26]:
FBREF_dataset_conca_standard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10977 entries, 0 to 10978
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10977 non-null  int64
 1   Team        10977 non-null  object
 2   Player      10977 non-null  object
 3   Nation      10977 non-null  object
 4   Position    10977 non-null  object
 5   Age         10977 non-null  float64
 6   Born        10977 non-null  float64
 7   MP          10977 non-null  int64
 8   Starts      10977 non-null  int64
 9   90s         10977 non-null  float64
 10  Gls         10977 non-null  int64
 11  Ast         10977 non-null  int64
 12  G+A         10977 non-null  int64
 13  G-PK        10977 non-null  int64
 14  PK          10977 non-null  int64
 15  PKatt       10977 non-null  int64
 16  CrdY        10977 non-null  int64
 17  CrdR        10977 non-null  int64
 18  npxG        10968 non-null  float64
 19  xAG         10968 non-null  float64
 20  PrgC        10968 non-null  float64
 21  PrgP        10968 non-null  float64
 22  PrgR        10968 non-null  float64
 23  Gls.1       10977 non-null  float64
 24  Ast.1       10977 non-null  float64
 25  xAG.1       10967 non-null  float64
 26  npxG.1      10967 non-null  float64
 27  League      10977 non-null  object
 28  Saison      10977 non-null  object
dtypes: float64(12), int64(11), object(6)
memory usage: 2.5+ MB

In [27]:
FBREF_dataset_conca_standard.rename(columns={'MP': 'Match played', 'Starts': 'Starting Player', '90s': 'avg playing time per game', 'Gls': 'Goals', 'Ast': 'Assists', 'G+A': 'Goals&Assists', 'G-PK': 'Goals-penalty', 'PK': 'penalty', 'PKatt': 'penalty attempted' , 'CrdY': 'yellow card', 'CrdR': 'red card', 'npxG': 'expected goal without penalty', 'xAG': 'expected assists goal', 'PrgC': 'progressive ball carrie', 'PrgP': 'Progressive passes', 'PrgR': 'progressive passes received', 'Gls.1': 'goals per 90min', 'Ast.1': 'assist per 90min', 'xAG': 'expected assists', 'xAG.1': 'expected assists per 90min', 'npxG.1': 'expected goal per90 without penalty'})

,Unnamed: 0,Team,Player,Nation,Position,Age,Born,Match played,Starting Player,avg playing time per game,...,expected assists,progressive ball carrie,Progressive passes,progressive passes received,goals per 90min,assist per 90min,expected assists per 90min,expected goal per90 without penalty,League,Saison
0,0,Alavés,Adrián Diéguez,ESP,Defender,21.0,1996.0,6,6,4.8,...,0.0,10.0,11.0,3.0,0.00,0.00,0.00,0.02,La Liga,2017-2018
1,1,Alavés,Aleksandar Katai,SRB,"Midfielder, Defender",26.0,1991.0,3,0,0.6,...,0.0,2.0,2.0,4.0,0.00,0.00,0.00,0.12,La Liga,2017-2018
2,2,Alavés,Alexis,ESP,Defender,31.0,1985.0,28,25,24.3,...,0.3,5.0,34.0,11.0,0.04,0.00,0.01,0.05,La Liga,2017-2018
3,3,Alavés,Alfonso Pedraza,ESP,"Midfielder, Defender",21.0,1996.0,33,27,27.1,...,3.9,104.0,69.0,148.0,0.11,0.18,0.14,0.10,La Liga,2017-2018
4,4,Alavés,Antonio Sivera,ESP,Goalkeeper,20.0,1996.0,1,1,0.7,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,La Liga,2017-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,10974,Venezia,Sergio Romero,ARG,Goalkeeper,34.0,1987.0,16,16,16.0,...,0.0,0.0,1.0,0.0,0.00,0.00,0.00,0.00,Serie A,2021-2022
10975,10975,Venezia,Sofian Kiyine,MAR,"Midfielder, Forward",23.0,1997.0,26,14,13.8,...,2.0,48.0,62.0,44.0,0.07,0.00,0.15,0.04,Serie A,2021-2022
10976,10976,Venezia,Tanner Tessmann,USA,Midfielder,19.0,2001.0,20,6,7.6,...,0.1,12.0,23.0,18.0,0.00,0.00,0.02,0.09,Serie A,2021-2022
10977,10977,Venezia,Thomas Henry,FRA,Forward,26.0,1994.0,33,23,23.5,...,3.8,20.0,31.0,99.0,0.38,0.09,0.16,0.29,Serie A,2021-2022
10978,10978,Venezia,Tyronne Ebuehi,NGA,Defender,25.0,1995.0,19,12,12.6,...,0.4,29.0,29.0,52.0,0.00,0.00,0.03,0.05,Serie A,2021-2022

In [28]:
FBREF_dataset_conca_standard.to_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_standard.csv")

## keeper

In [59]:
FBREF_dataset_conca_keeper = pd.read_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_keeper.csv")
FBREF_dataset_conca_keeper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      838 non-null    object
 1   Player    838 non-null    object
 2   Nation    838 non-null    object
 3   Position  838 non-null    object
 4   Age       838 non-null    int64
 5   Born      838 non-null    int64
 6   MP        838 non-null    int64
 7   Starts    838 non-null    int64
 8   Min       835 non-null    float64
 9   90s       838 non-null    float64
 10  GA        835 non-null    float64
 11  GA90      833 non-null    float64
 12  SoTA      836 non-null    float64
 13  Saves     836 non-null    float64
 14  Save%     823 non-null    float64
 15  W         833 non-null    float64
 16  D         834 non-null    float64
 17  L         837 non-null    float64
 18  CS        833 non-null    float64
 19  CS%       800 non-null    float64
 20  PKatt     833 non-null    float64
 21  PKA       834 non-null    float64
 22  PKsv      833 non-null    float64
 23  PKm       833 non-null    float64
 24  Save%.1   584 non-null    float64
 25  League    838 non-null    object
 26  Saison    838 non-null    object
dtypes: float64(17), int64(4), object(6)
memory usage: 176.9+ KB

In [ ]:
FBREF_dataset_conca_keeper.rename(columns={'MP': 'Match played', 'Starts': 'Starting Player', '90s': 'avg playing time per game', 'Gls': 'Goals', 'Ast': 'Assists', 'G+A': 'Goals&Assists', 'G-PK': 'Goals-penalty', 'PK': 'penalty', 'PKatt': 'penalty attempted' , 'CrdY': 'yellow card', 'CrdR': 'red card', 'npxG': 'expected goal without penalty', 'xAG': 'expected assists goal', 'PrgC': 'progressive ball carrie', 'PrgP': 'Progressive passes', 'PrgR': 'progressive passes received', 'Gls.1': 'goals per 90min', 'Ast.1': 'assist per 90min', 'xAG': 'expected assists', 'xAG.1': 'expected assists per 90min', 'npxG.1': 'expected goal per90 without penalty'})

## passing

In [70]:
FBREF_dataset_conca_passing = pd.read_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_passing.csv")
FBREF_dataset_conca_passing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     10979 non-null  object
 1   Player   10979 non-null  object
 2   Nation   10978 non-null  object
 3   Pos      10977 non-null  object
 4   Age      10978 non-null  float64
 5   Born     10978 non-null  float64
 6   90s      10979 non-null  float64
 7   Cmp      10968 non-null  float64
 8   Att      10968 non-null  float64
 9   Cmp%     10911 non-null  float64
 10  TotDist  10968 non-null  float64
 11  PrgDist  10968 non-null  float64
 12  Cmp.1    10968 non-null  float64
 13  Att.1    10968 non-null  float64
 14  Cmp%.1   10809 non-null  float64
 15  Cmp.2    10968 non-null  float64
 16  Att.2    10968 non-null  float64
 17  Cmp%.2   10742 non-null  float64
 18  Cmp.3    10968 non-null  float64
 19  Att.3    10968 non-null  float64
 20  Cmp%.3   10374 non-null  float64
 21  Ast      10979 non-null  int64
 22  xAG      10968 non-null  float64
 23  xA       10968 non-null  float64
 24  A-xAG    10968 non-null  float64
 25  KP       10968 non-null  float64
 26  1/3      10968 non-null  float64
 27  PPA      10968 non-null  float64
 28  CrsPA    10968 non-null  float64
 29  PrgP     10968 non-null  float64
 30  League   10979 non-null  object
 31  Saison   10979 non-null  object
dtypes: float64(25), int64(1), object(6)
memory usage: 2.7+ MB

In [71]:
FBREF_dataset_conca_passing = FBREF_dataset_conca_passing.drop(columns=['Cmp','Att','TotDist','PrgDist','Cmp.1','Att.1','Cmp.2','Att.2','Cmp.3' ,'Att.3','xAG','1/3'])
FBREF_dataset_conca_passing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    10979 non-null  object
 1   Player  10979 non-null  object
 2   Nation  10978 non-null  object
 3   Pos     10977 non-null  object
 4   Age     10978 non-null  float64
 5   Born    10978 non-null  float64
 6   90s     10979 non-null  float64
 7   Cmp%    10911 non-null  float64
 8   Cmp%.1  10809 non-null  float64
 9   Cmp%.2  10742 non-null  float64
 10  Cmp%.3  10374 non-null  float64
 11  Ast     10979 non-null  int64
 12  xA      10968 non-null  float64
 13  A-xAG   10968 non-null  float64
 14  KP      10968 non-null  float64
 15  PPA     10968 non-null  float64
 16  CrsPA   10968 non-null  float64
 17  PrgP    10968 non-null  float64
 18  League  10979 non-null  object
 19  Saison  10979 non-null  object
dtypes: float64(13), int64(1), object(6)
memory usage: 1.7+ MB

## shooting

In [83]:
FBREF_dataset_conca_defense = pd.read_csv("/content/drive/MyDrive/footdata/FBREF_dataset_conca_defense.csv")
FBREF_dataset_conca_defense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     10979 non-null  object
 1   Player   10979 non-null  object
 2   Nation   10978 non-null  object
 3   Pos      10977 non-null  object
 4   Age      10978 non-null  float64
 5   Born     10978 non-null  float64
 6   90s      10979 non-null  float64
 7   Tkl      10968 non-null  float64
 8   TklW     10976 non-null  float64
 9   Def 3rd  10968 non-null  float64
 10  Mid 3rd  10968 non-null  float64
 11  Att 3rd  10968 non-null  float64
 12  Tkl.1    10968 non-null  float64
 13  Att      10968 non-null  float64
 14  Tkl%     9759 non-null   float64
 15  Lost     10968 non-null  float64
 16  Blocks   10968 non-null  float64
 17  Sh       10968 non-null  float64
 18  Pass     10968 non-null  float64
 19  Int      10976 non-null  float64
 20  Tkl+Int  10968 non-null  float64
 21  Clr      10968 non-null  float64
 22  Err      10968 non-null  float64
 23  League   10979 non-null  object
 24  Saison   10979 non-null  object
dtypes: float64(19), object(6)
memory usage: 2.1+ MB

In [84]:
FBREF_dataset_conca_defense = FBREF_dataset_conca_defense.drop(columns=['Def 3rd','Mid 3rd','Att 3rd','Tkl.1','Att' ,'Lost' ,'Tkl+Int'])
FBREF_dataset_conca_defense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    10979 non-null  object
 1   Player  10979 non-null  object
 2   Nation  10978 non-null  object
 3   Pos     10977 non-null  object
 4   Age     10978 non-null  float64
 5   Born    10978 non-null  float64
 6   90s     10979 non-null  float64
 7   Tkl     10968 non-null  float64
 8   TklW    10976 non-null  float64
 9   Tkl%    9759 non-null   float64
 10  Blocks  10968 non-null  float64
 11  Sh      10968 non-null  float64
 12  Pass    10968 non-null  float64
 13  Int     10976 non-null  float64
 14  Clr     10968 non-null  float64
 15  Err     10968 non-null  float64
 16  League  10979 non-null  object
 17  Saison  10979 non-null  object
dtypes: float64(12), object(6)
memory usage: 1.5+ MB

## defense