# Importation

In [81]:
import pandas as pd
import numpy as np

In [82]:
#After Concatenisation
df_offensive = pd.read_csv('Offensive_Whoscored_Data.csv')
df_passing = pd.read_csv('Passing_Whoscored_Data.csv')
df_summary = pd.read_csv('Summary_Whoscored_Data.csv')
df_defensive = pd.read_csv('Defensive_Whoscored_Data.csv')

C:\Users\lucas\AppData\Local\Temp\ipykernel_12120\2725428501.py:2: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_offensive = pd.read_csv('Offensive_Whoscored_Data.csv')
C:\Users\lucas\AppData\Local\Temp\ipykernel_12120\2725428501.py:3: DtypeWarning: Columns (6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_passing = pd.read_csv('Passing_Whoscored_Data.csv')
C:\Users\lucas\AppData\Local\Temp\ipykernel_12120\2725428501.py:4: DtypeWarning: Columns (6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_summary = pd.read_csv('Summary_Whoscored_Data.csv')
C:\Users\lucas\AppData\Local\Temp\ipykernel_12120\2725428501.py:5: DtypeWarning: Columns (6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_defensive = pd.read_csv('Defensive_Whoscored_Data.csv')

In [83]:
#Position
df_defense = pd.read_csv('defensive_players.csv')
df_forward = pd.read_csv('forward_players.csv')
df_goal = pd.read_csv('goalkeeper_players.csv')
df_midfield = pd.read_csv('midfield_players.csv')

In [101]:
#Merge all
df_merged = pd.read_csv('Merged_players_Whoscore.csv')
df_merged.Saison

1182     2021
2367     2020
8059     2017
10099    2016
13248    2018
14784    2022
18701    2019
24258    2017
24668    2019
24842    2018
27839    2022
29121    2021
29854    2020
31326    2016
Name: Saison, dtype: int64

In [85]:
#Selecting only the needed columns for the forecasting process

allPlayers = df_merged[['Name', 'Saison', 'Rating', 'Age']]
allPlayers = allPlayers[allPlayers['Saison'].notnull()].copy()
allPlayers

                    Name  Saison  Rating  Age
0                   Nani    2010    7.71   32
1            Luis Suárez    2010    7.63   32
2           Carlos Tevez    2010    7.59   35
3       Robin van Persie    2010    7.56   35
4          Cesc Fàbregas    2010    7.55   32
...                  ...     ...     ...  ...
37381       Benito Raman    2020    6.21   28
37382    Sven Schipplock    2020    6.19   34
37383  Alessandro Schöpf    2020    6.05   29
37384  Grégory Bourillon    2011    7.02   35
37385      Yoann Poulard    2011    6.94   43

[37386 rows x 4 columns]

In [86]:
allPlayers.loc[allPlayers.Name == 'Kylian Mbappé']

                Name  Saison  Rating  Age
1182   Kylian Mbappé    2021    8.04   24
2367   Kylian Mbappé    2020    7.68   24
8059   Kylian Mbappé    2017    7.54   20
10099  Kylian Mbappé    2016    7.22   20
13248  Kylian Mbappé    2018    8.00   20
14784  Kylian Mbappé    2022    7.79   24
18701  Kylian Mbappé    2019    8.14   24
24258  Kylian Mbappé    2017    7.54   20
24668  Kylian Mbappé    2019    8.14   24
24842  Kylian Mbappé    2018    8.00   20
27839  Kylian Mbappé    2022    7.79   24
29121  Kylian Mbappé    2021    8.04   24
29854  Kylian Mbappé    2020    7.68   24
31326  Kylian Mbappé    2016    7.22   20

In [87]:
#Store a list of all the players
nameList = allPlayers.Name.unique()

#create a dataframe just to store the mean values of player rating's 
meanDf = pd.DataFrame(columns=['Name', 'Mean', 'Growth'])
meanDf

Empty DataFrame
Columns: [Name, Mean, Growth]
Index: []

In [88]:
#Calculating career growth and rating avergae of every player (Feature engineering)
for name in nameList:
    mean = allPlayers.loc[allPlayers.Name == name]['Rating'].mean()
    length = len(allPlayers.loc[allPlayers.Name == name]['Rating'])
    growth = allPlayers.loc[allPlayers.Name == name]['Rating'].tolist()[length-1] - allPlayers.loc[allPlayers.Name == name]['Rating'].tolist()[0]
    meanDf.at[name, 'Name'] = name
    meanDf.at[name, 'Mean'] = mean
    meanDf.at[name, 'Growth'] = growth
    
#Merging all the data together   
allPlayers = pd.merge(allPlayers, meanDf, on=['Name'])

#Converting column type
allPlayers['Mean'] = allPlayers['Mean'].astype(np.float64)
allPlayers

                   Name  Saison  Rating  Age    Mean Growth
0                  Nani    2010    7.71   32  7.4225  -0.28
1                  Nani    2011    7.43   32  7.4225  -0.28
2                  Nani    2016    7.06   32  7.4225  -0.28
3                  Nani    2009    7.49   32  7.4225  -0.28
4                  Nani    2016    7.06   32  7.4225  -0.28
...                 ...     ...     ...  ...     ...    ...
37381  Jean-Manuel Mbom    2020    6.34   23  6.3400    0.0
37382  Jean-Manuel Mbom    2020    6.34   23  6.3400    0.0
37383       Hannes Wolf    2020    6.32   23  6.3200    0.0
37384       Hannes Wolf    2020    6.32   23  6.3200    0.0
37385       Hannes Wolf    2020    6.32   23  6.3200    0.0

[37386 rows x 6 columns]

In [94]:
allPlayers.loc[allPlayers.Name == 'Lionel Messi']

              Name  Saison  Rating  Age    Mean Growth
8154  Lionel Messi    2021    7.77   35  8.5575   0.57
8155  Lionel Messi    2009    8.67   32  8.5575   0.57
8156  Lionel Messi    2018    8.48   32  8.5575   0.57
8157  Lionel Messi    2011    8.88   32  8.5575   0.57
8158  Lionel Messi    2015    8.46   32  8.5575   0.57
8159  Lionel Messi    2012    8.83   32  8.5575   0.57
8160  Lionel Messi    2016    8.47   32  8.5575   0.57
8161  Lionel Messi    2017    8.68   32  8.5575   0.57
8162  Lionel Messi    2010    8.76   32  8.5575   0.57
8163  Lionel Messi    2022    8.51   35  8.5575   0.57
8164  Lionel Messi    2013    8.34   32  8.5575   0.57
8165  Lionel Messi    2014    8.84   32  8.5575   0.57
8166  Lionel Messi    2010    8.76   32  8.5575   0.57
8167  Lionel Messi    2012    8.83   32  8.5575   0.57
8168  Lionel Messi    2022    8.51   35  8.5575   0.57
8169  Lionel Messi    2021    7.77   35  8.5575   0.57
8170  Lionel Messi    2011    8.88   32  8.5575   0.57
8171  Lionel Messi    2009    8.67   32  8.5575   0.57
8172  Lionel Messi    2017    8.68   32  8.5575   0.57
8173  Lionel Messi    2015    8.46   32  8.5575   0.57
8174  Lionel Messi    2016    8.47   32  8.5575   0.57
8175  Lionel Messi    2018    8.48   32  8.5575   0.57
8176  Lionel Messi    2014    8.84   32  8.5575   0.57
8177  Lionel Messi    2013    8.34   32  8.5575   0.57

In [74]:
#Another portion of feature engineering

from pandas import Series
from pandas import DataFrame
from pandas import concat

allPlayers = allPlayers.sort_values(['Saison', 'Name'])

#Creating 2 new features for every player by combining both the last season rating and the difference between that and the
#~previous season rating

transformedPlayerDf = allPlayers.copy()
transformedPlayerDf['Last_Season_Rating'] = transformedPlayerDf.groupby(['Name'])['Rating'].shift()
transformedPlayerDf['Last_Season_Diff'] = transformedPlayerDf.groupby('Name')['Last_Season_Rating'].transform(Series.diff)
transformedPlayerDf = transformedPlayerDf.dropna()
transformedPlayerDf.head()

,Name,Saison,Rating,Age,Mean,Growth,Last_Season_Rating,Last_Season_Diff
13632,Diego López,2009,6.70,37,6.800833,0.33,7.03,0.33
13633,Diego López,2009,7.03,44,6.800833,0.33,6.70,-0.33
29199,Giuseppe Biava,2009,6.90,42,7.045714,-0.16,6.80,-0.10
29200,Giuseppe Biava,2009,6.80,42,7.045714,-0.16,6.90,0.10
5336,Gonzalo Castro,2009,6.95,32,6.995143,0.53,6.95,-0.47

In [92]:
transformedPlayerDf.head(20)

Empty DataFrame
Columns: [Name, Saison, Rating, Age, Mean, Growth, Last_Season_Rating, Last_Season_Diff]
Index: []

In [75]:
#Forecasting using linear regression

from statistics import mean 
from sklearn import linear_model 

from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn import model_selection
from math import sqrt

accuracy_MSE = []
accuracy_RMSE = []
accuracy_MAE = []
accuracy_R2 = []

#For every season using previous season data to forecast current season rating
for season in range(2010,2022):
    
    training_set = transformedPlayerDf[transformedPlayerDf['Saison'] == season-1]
    testing_set = transformedPlayerDf[transformedPlayerDf['Saison'] == season]

    X_train = training_set.drop(['Rating', 'Name', 'Saison'], axis=1)
    y_train = training_set['Rating'].values
    X_test = testing_set.drop(['Rating', 'Name', 'Saison'], axis=1)
    y_test = testing_set['Rating'].values

    lin_reg = linear_model.LinearRegression(n_jobs=-1) 
    
    lin_reg.fit(X_train, y_train)

    #using k-folds cross validation for calculating forecast accuracy
    scores = cross_val_score(lin_reg, X_test, y_test, cv=10)
    accuracy_R2.append(scores.mean())
    
    y_pred = lin_reg.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = sqrt(mse)
    mae = median_absolute_error(y_test, y_pred)
    
    accuracy_MSE.append(mse)
    accuracy_RMSE.append(rmse)
    accuracy_MAE.append(mae)
     
print('Average accuracy for forecasting player ratings between 2015-2018:')
print("MSE: " + "{:.2f}".format(mean(accuracy_MSE)))
print("RMSE: " + "{:.2f}".format(mean(accuracy_RMSE)))
print("MAE: " + "{:.2f}".format(mean(accuracy_MAE)))
print("R2: " + "{:.2f}".format(mean(accuracy_R2)))

Average accuracy for forecasting player ratings between 2015-2018:
MSE: 0.03
RMSE: 0.17
MAE: 0.09
R2: 0.69

In [ ]:
transformedPlayerDf

In [76]:
for season in range(2023, 2027):
    previousPlayers = allPlayers.loc[allPlayers.Saison == season-1].copy()
    currentPlayers = allPlayers.loc[allPlayers.Saison == season].copy()
    futurePlayers = currentPlayers.copy()
    
    futurePlayers['Saison'] = currentPlayers['Saison'].values+1
    futurePlayers['Age'] = currentPlayers['Age'].values+1

    futurePlayers = futurePlayers.drop(['Rating'], axis=1)

    li = []
    li.append(previousPlayers)
    li.append(currentPlayers)
    li.append(futurePlayers)

    combinedDf = pd.concat(li)
    
    combinedDf = combinedDf.sort_values(['Saison', 'Name'])

    transformedPlayerDf = combinedDf.copy()
    transformedPlayerDf['Last_Season_Rating'] = transformedPlayerDf.groupby(['Name'])['Rating'].shift()
    transformedPlayerDf['Last_Season_Diff'] = transformedPlayerDf.groupby('Name')['Last_Season_Rating'].transform(Series.diff)
    transformedPlayerDf = transformedPlayerDf.dropna()
    
    transformedPlayerDf = transformedPlayerDf.loc[transformedPlayerDf['Saison'] == season]
    
    currentSeasonDf = transformedPlayerDf.drop(['Rating', 'Name', 'Saison'], axis=1)
    y_pred = lin_reg.predict(currentSeasonDf)

    ratings = ["{:.2f}".format(value) for value in y_pred.tolist()]
    transformedPlayerDf['Rating'] = ratings
    transformedPlayerDf = transformedPlayerDf[['Name', 'Saison', 'Rating', 'Age', 'Mean', 'Growth']]
    allPlayers = allPlayers.append(transformedPlayerDf)
    allPlayers = allPlayers[allPlayers['Rating'].notnull()].copy()
    allPlayers['Rating'] = allPlayers['Rating'].astype(float)

ValueError: Found array with 0 sample(s) (shape=(0, 5)) while a minimum of 1 is required.

In [ ]:
allPlayers.loc[allPlayers.Name == 'Kylian Mbappé']

In [ ]:
#write the DF to a csv file
allPlayers.to_csv('Forecasted_Ratings_2022-2025.csv', index = False)